h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    padding-top: 10px;
    padding-right: 120px;
    padding-bottom: 10px;
    padding-left: 120px;    
    margin: 0;
}

.header-logo {
    display: flex;
    font-family: Garamond, Georgia, serif;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 32px;
}

a:link, a:visited {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.mid-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    padding-top: 10px;
    padding-right: 120px;
    padding-bottom: 55px;
    padding-left: 120px;
}

.mid-info-text {
    font-size: 36px; 
    font-weight: bold;
}

.mid-info-subtext {
    font-size: 18px;
    width: 50%;
    font-weight: normal;
}

.mid-info-img {
    display: flex;
    justify-content: right;
}

h2 {
    display: flex;
    justify-content: center;
    margin: 45px;
}

.img-set, .caption {
    display: flex;
    justify-content: center;
}

.img-set {
    gap: 75px;
}

.caption {
    gap: 30px;
    padding-bottom: 45px;
}

.attack-imgs {
    border: 3px solid #3882F6;
    border-radius: 10px;
    width: 100px; 
    height: auto;
    max-height: 100px;
}

.quote-box {
    font-size: 36px;
    font-weight: italic;
    color: #1F2937;
    background-color: #E5E7EB;
    padding: 45px;
}

.author {
    display: flex;
    justify-content: right;
}

.lower-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    margin-top: 45px;
    margin-right: 160px;
    margin-bottom: 45px;
    margin-left: 160px;
    padding: 15px;
}

.lower-banner-button {
    display: flex;
}

button {
    color:#F9FAF8;
    background-color: #3882F6;
    border-radius: 45px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 25px;
}

h1, .mid-info, footer {
    color: #F9FAF8;
    background-color: #1F2937;
}